.body {
    background-color: pink;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

div.levels{
    display: block;
    padding: 200px;
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.column {
    float: left;
    width: 25%;
    padding: 50px;
}

div.row::after {
    content: "";
    clear: both;
    display: table;
}
    
img {
    width: 100%;
    height: 375px;
}

div.container2 {
    text-align: center;
    padding: 10px 20px;
}

